h1 {
    color: cornflowerblue;
    font-weight: normal;
}
h2 {
    color: yellowgreen;
    font-style: italic;
}
body {
   font-family: sans-serif; 
}
li {
    font-weight: bold;
}
p {
    text-shadow: 0px 5px orangered;
}
ol {
    border: 3px solid black;
    padding: 40px;
}